<app-navbar></app-navbar>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card">
          <div class="card-body p-5">
            <h5>Add new task</h5>
            <form (ngSubmit)="addTask()" class="d-flex justify-content-center align-items-center mb-4">
              <div class="form-outline flex-fill me-2">
                <input type="text" id="form1" class="form-control" placeholder="Task title"
                       [(ngModel)]="title" name="title" />
              </div>
              &nbsp; &nbsp;
              <div class="form-outline flex-fill me-2">
                <input type="text" id="form2" class="form-control" placeholder="Task description"
                       [(ngModel)]="description" name="description" />
              </div>
              &nbsp;
              <button type="submit" class="btn btn-info">Add</button>
            </form>

    
            <h5>Tasks list</h5>
            <ul class="list-group mb-0">
              <li *ngFor="let t of tasks" class="list-group-item d-flex align-items-center border-0 mb-0 rounded"
                  style="background-color: #f4f6f7;">
               {{ t.title }} | {{ t.description }} 
              <div class="buttons">
                <button  class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal"  (click)="getTaskById(t._id)" >Update</button>
                &nbsp;
                <button  class="btn btn-outline-success" (click)="deleteTask(t._id)">Done</button>

              </div>

            </li>
              
            </ul>

    
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update your task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedTask"    >
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="recipient-name"  name="modalTitle" [(ngModel)]="selectedTask.title" >
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="message-text"  name="modalDescription" [(ngModel)]="selectedTask.description"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateTask()">Update</button>
        </div>
      </div>
    </div>
  </div>
  